.wl-color-thesis {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  div {
    padding: $s4;
  }

  .wl-color-thesis__white {
    background-color: $c-white;
  }

  .wl-color-thesis__grey-8 {
    background-color: $c-grey-8;
  }

  .wl-color-thesis__grey-6 {
    background-color: $c-grey-6;
  }

  .wl-color-thesis__grey-4 {
    background-color: $c-grey-4;
  }

  .wl-color-thesis__grey-2 {
    background-color: $c-grey-2;
  }

  .wl-color-thesis__black {
    background-color: $c-black;
  }
}

.wl-color-thesis__light {
  @include light-theme;
  color: $c-text;
}

.wl-color-thesis__dark {
  @include dark-theme;
  color: $c-text;
}