@mixin dark-theme {
  --c-white: #616161;
  --c-black: #000;

  --c-grey-8: #424242;
  --c-grey-6: #212121;
  --c-grey-4: var(--c-black);

  --c-text: #fff;
  --c-text-light: #bdbdbd;
  --c-text-white: #fff;

  --c-body: var(--c-grey-6);
}