// base
$c-white: var(--c-white);
$c-black: var(--c-black);
$c-always-white: #fff;

// grayscale
$c-grey-8: var(--c-grey-8);
$c-grey-6: var(--c-grey-6);
$c-grey-4: var(--c-grey-4);

// primary
$c-primary: var(--c-primary);
$c-primary-light: var(--c-primary-light);

// text
$c-text: var(--c-text);
$c-text-light: var(--c-text-light);
$c-text-white: var(--c-text-white);

// body
$c-body: var(--c-body);

// borders
$c-border: $c-grey-4;
$c-outline: $c-primary;
