$s-unit: 1px;
$s-double: 2px;
$s1: 4px; 
$s2: 8px; 
$s3: 12px; 
$s4: 16px; 
$s5: 20px; 
$s6: 24px; 
$s7: 28px; 
$s8: 32px; 
$s9: 36px; 
$s10: 40px;
$s11: 44px;
$s12: 48px;
$s13: 52px;

$input-height: $s10;
$input-gutter: $s4;
$input-padding: 0 $input-gutter